install
build
log
.vscode
*.pyc
.cache/*

02_V5/ghost_pros/include/ghost_v5_interfaces/**
02_V5/ghost_pros/include/ghost_serial/**
02_V5/ghost_pros/include/ghost_estimation/**
02_V5/ghost_pros/include/ghost_control/**

02_V5/ghost_pros/src/ghost_v5_interfaces/**
02_V5/ghost_pros/src/ghost_serial/**
02_V5/ghost_pros/src/ghost_estimation/**
02_V5/ghost_pros/src/ghost_control/**