<?xml version="1.0"?>
<robot name="test_diff_drive" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find ghost_sim)/urdf/test_tank_description.xacro"/>
    <gazebo>
        <plugin name="gazebo_ros_diff_drive" filename="libgazebo_ros_diff_drive.so">
            <!-- Update rate in Hz -->
            <update_rate>50</update_rate>

            <!-- wheels -->
            <left_joint>wheel_joint_left_front</left_joint>
            <right_joint>wheel_joint_right_front</right_joint>

            <!-- kinematics -->
            <wheel_separation>1.25</wheel_separation>
            <wheel_diameter>0.6</wheel_diameter>

            <!-- limits -->
            <max_wheel_torque>20</max_wheel_torque>
            <max_wheel_acceleration>1.0</max_wheel_acceleration>

            <!-- input -->
            <command_topic>cmd_vel</command_topic>

            <!-- output -->
            <publish_odom>false</publish_odom>
            <publish_odom_tf>false</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
        </plugin>
    </gazebo>
</robot>