<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">  
    <!-- Motor Macro -->
    <xacro:macro name="v5_motor_macro" params="joint_name link_name gear_ratio">
        <plugin name="${link_name}_motor_plugin" filename="libgazebo_motor_plugin.so">
            <joint_name>${joint_name}</joint_name>
            <link_name>${link_name}</link_name>

            <free_speed>130</free_speed>
            <stall_torque>4.5</stall_torque>
            <free_current>0.1</free_current>
            <stall_current>4.5</stall_current>
            <nominal_voltage>12.8</nominal_voltage>
            <gear_ratio>${gear_ratio}</gear_ratio>
        </plugin>
    </xacro:macro>

    <!-- Motor PID Macro -->
    <xacro:macro name="joint_pid_macro" params="joint_name link_name gear_ratio position_gain vel_gain accel_gain">
        <plugin name="${link_name}_joint_pid_plugin" filename="libgazebo_joint_pid_plugin.so">
            <joint_name>${joint_name}</joint_name>
            <link_name>${link_name}</link_name>

            <position_gain>${position_gain}</position_gain>
            <velocity_gain>${vel_gain}</velocity_gain>
            <accel_gain>${accel_gain}</accel_gain>

            <feedforward_velocity_gain>0.0</feedforward_velocity_gain>
            <feedforward_voltage_gain>0.0</feedforward_voltage_gain>


            <free_speed>130</free_speed>
            <stall_torque>4.5</stall_torque>
            <free_current>0.1</free_current>
            <stall_current>4.5</stall_current>
            <nominal_voltage>12.8</nominal_voltage>
            <gear_ratio>${gear_ratio}</gear_ratio>
        </plugin>
    </xacro:macro>
</robot>