# Directories
tutorial/
test/
examples/
contrib/
src/org/

# File Extensions
*.lo
*.la
*.pc

# Hidden
*.deps*
*.dirstamp
*.libs*

# Extra
Makefile
config.log
config.status
doc/Doxyfile
libtool
src/Apps/AmplSolver/Makefile
src/Common/config.h
src/Common/config_ipopt.h
src/Common/stamp-h1
src/Common/stamp-h2
src/Makefile
src/org.coinor.ipopt.jar
src/org_coinor_Ipopt.h

