<?xml version="1.0"?>
<robot name="ghost1" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find ghost_sim)/urdf/macros/actuator_macros.xacro"/>
    <xacro:include filename="$(find ghost_sim)/urdf/macros/sensor_macros.xacro"/>
    
    <!-- Import Primary Robot URDF -->
    <xacro:include filename="$(find ghost_description)/urdf/ghost1.xacro"/>

    <!-- Add Sensors -->
    <xacro:lidar_macro link_name="lidar_link" topic_name="scan"></xacro:lidar_macro>
    <!-- <xacro:imu_macro parent_link="camera_view_link"></xacro:imu_macro> -->

    <!-- Joint State Publisher -->
    <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>100</update_rate>
            <joint_name>steering_1</joint_name>
            <joint_name>steering_2</joint_name>
            <joint_name>steering_3</joint_name>
            <joint_name>driveshaft_1</joint_name>
            <joint_name>driveshaft_2</joint_name>
            <joint_name>driveshaft_3</joint_name>
        </plugin>

        <plugin name="swerve_odometry_plugin" filename="libswerve_odometry_plugin.so">
        <x_stddev>0.05</x_stddev>
        <y_stddev>0.05</y_stddev>
        <r_stddev>0.03</r_stddev>
        </plugin>
    </gazebo>
</robot>