<?xml version="1.0"?>
<robot name="ghost1" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Import Primary Robot URDF -->
    <xacro:include filename="$(find ghost_sim)/urdf/ghost1_sim_base.xacro"/>

    <!-- Gazebo Plugins -->
    <gazebo>
        <!-- Motor Models -->
        <xacro:v5_motor_macro joint_name="steering_left" link_name="mod_left" gear_ratio="1.0"></xacro:v5_motor_macro>        
        <xacro:v5_motor_macro joint_name="steering_right" link_name="mod_right" gear_ratio="1.0"></xacro:v5_motor_macro>
        <xacro:v5_motor_macro joint_name="steering_back" link_name="mod_back" gear_ratio="1.0"></xacro:v5_motor_macro>
        <xacro:v5_motor_macro joint_name="driveshaft_left" link_name="wheel_left" gear_ratio="6.0"></xacro:v5_motor_macro>
        <xacro:v5_motor_macro joint_name="driveshaft_right" link_name="wheel_right" gear_ratio="6.0"></xacro:v5_motor_macro>
        <xacro:v5_motor_macro joint_name="driveshaft_back" link_name="wheel_back" gear_ratio="6.0"></xacro:v5_motor_macro>     
    </gazebo>
</robot>